
<div class="edit-title">
<p><strong>Title:</storong></p>

<p><%= @book.title %></p>
</div>

<div calss="edit-body">
<p>Body:</p>
<p><%= @book.body %></p>
</div>
<%= link_to "Edit", edit_book_path(@book.id) %>
|
<%= link_to "Back", books_path(@book.id)  %>